@import '../fonts/Montserrat/stylesheet.css';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1920px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

.background-color-blue {
  background: linear-gradient(208deg, #323264 0%, #323264 59.9%, #643e72 100%);
}

.consistent {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding-top: 30px;
}
.consistent .consistent-choice {
  margin-bottom: 30px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 30px;
  position: relative;
  padding-left: 12px;
}
.consistent .consistent-choice a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: #B3B3BA;
}
.consistent .consistent-choice a:first-child {
  background: linear-gradient(-298deg, #ef8080 0%, #f0145a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.consistent .consistent-content h2 {
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
}
.consistent .consistent-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 158%;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .consistent {
    margin-bottom: 60px;
    padding-top: 60px;
  }
  .consistent .consistent-choice {
    padding-left: 60px;
    margin-bottom: 60px;
  }
  .consistent .consistent-choice a {
    font-size: 38px;
  }
  .consistent .consistent-border {
    margin: 60px;
  }
  .consistent .wrapper {
    padding: 0 60px;
  }
  .consistent .consistent-content h2 {
    padding-top: 60px;
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .consistent {
    display: grid;
    grid-template-columns: 495px 1fr;
  }
  .consistent .consistent-choice {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    text-align: right;
    justify-content: center;
    margin-bottom: 0;
  }
  .consistent .consistent-content {
    border-left: 4px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 300px;
  }
  .consistent .consistent-content h2 {
    padding-top: 10px;
    border-top: 0;
  }
  .consistent .consistent-border {
    border: 0;
  }
}
@media (min-width: 1440px) {
  .consistent {
    grid-template-columns: 615px 1fr;
  }
  .consistent .consistent-choice a:hover {
    color: #F0145A;
  }
  .consistent .consistent-content {
    padding-right: 180px;
  }
}
@media (min-width: 1920px) {
  .consistent {
    grid-template-columns: 715px 1fr;
  }
  .consistent .consistent-content {
    padding-right: 0;
  }
}
.services {
  position: relative;
  border-radius: 0 0 12px 12px;
}

.service-boxes {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 60px;
}

.link-service {
  position: relative;
}
.link-service a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-decoration: none;
  color: #24A3FF;
  align-items: center;
  display: inline-flex;
}
.link-service img {
  margin-left: 2px;
}
.link-service .arrow-red {
  display: none;
}

.title-service h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  background: linear-gradient(-298deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  margin-top: 10px;
}

.service-box {
  margin-bottom: 30px;
}
.service-box .image {
  border-radius: 24px;
  padding: 14px;
  width: 92px;
  height: 92px;
  background-color: #fff;
  margin-bottom: 30px;
}
.service-box h2 {
  color: #24A3FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 15px;
}
.service-box p {
  margin: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
}

.service-box:last-child {
  margin-bottom: 0;
}

.first-shadow {
  border-radius: 0 0 12px 12px;
  height: 10px;
  background-color: #CACADB;
  margin-left: 20px;
  margin-right: 20px;
}

.second-shadow {
  border-radius: 0 0 12px 12px;
  height: 10px;
  background-color: #E7E7F2;
  margin-left: 40px;
  margin-right: 40px;
}

@media (min-width: 768px) {
  .services {
    padding-top: 0;
  }
  .wrapper {
    padding: 0 60px;
  }
  .service-boxes {
    grid-template-columns: 1fr 1fr;
  }
  .service-boxes {
    gap: 60px;
  }
  .title-service {
    margin-bottom: 60px;
  }
  .title-service h1 {
    margin-bottom: 60px;
    font-size: 38px;
  }
}
@media (min-width: 1024px) {
  .service-boxes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .link-service a:hover {
    color: #F0145A;
  }
  .link-service a:hover .arrow-blue {
    filter: hue-rotate(150deg);
  }
}
@media (min-width: 1920px) {
  .wrapper {
    padding: 0 160px;
  }
}
.team {
  margin-top: 30px;
  margin-bottom: 60px;
}
.team .team-hero {
  background-color: #EDEDF7;
  border-radius: 12px;
  overflow: hidden;
}
.team .team-hero .team-image img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}
.team .team-hero .team-content {
  padding: 30px;
}
.team .team-hero .team-content a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 5px;
}
.team .team-hero .team-content a p {
  margin: 0;
  color: #24A3FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.team .team-hero .team-content h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  background: linear-gradient(-298deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow-wrap: break-word;
}
.team .team-hero .team-content .team-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #B3B3BA;
  margin-top: 0;
  margin-bottom: 6px;
}
.team .team-hero .team-content .team-position {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #B3B3BA;
  margin: 0;
}
.team .team-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
}
.team .team-pages .team-page {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background-color: #24A3FF;
  opacity: 0.3;
}
.team .team-pages .team-page:first-child {
  opacity: 1;
}

@media (min-width: 1024px) {
  .team-hero {
    display: grid;
    grid-template-columns: 400px 1fr;
    margin-bottom: 60px;
  }
  .team-hero .team-image img {
    height: 100%;
  }
  .team-hero .team-content h2 {
    font-size: 38px;
  }
}
@media (min-width: 1440px) {
  .team-hero .team-image img {
    height: 350px;
  }
}
@media (min-width: 1920px) {
  .team-hero {
    margin: 60px 160px;
  }
  .team-hero .team-image img {
    height: 300px;
  }
}
.sponsors .sponsors-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.sponsors .sponsors-title p {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #323264;
}
.sponsors .sponsors-card {
  display: grid;
}
.sponsors .sponsors-card .card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C4280;
  height: 120px;
}
.sponsors .sponsors-card .card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #143646;
  height: 120px;
}
.sponsors .sponsors-card .card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F48B30;
  height: 120px;
}
.sponsors .sponsors-card .card-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9E4DC3;
  height: 120px;
}
.sponsors .sponsors-card .card-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FD9339;
  height: 120px;
}
.sponsors .sponsors-card .card-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2E2E4;
  height: 120px;
}
.sponsors .sponsors-card .card-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C71C36;
  height: 120px;
}
.sponsors .sponsors-card .card-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DCF3F9;
  height: 120px;
}
.sponsors .sponsors-card .card-9 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 120px;
}
.sponsors .sponsors-card .card-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282240;
  height: 120px;
}
.sponsors .sponsors-card .card-11 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D4568;
  height: 120px;
}
.sponsors .sponsors-card .card-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 120px;
}

@media (max-width: 767px) {
  .sponsors .sponsors-card a:nth-child(n+7) {
    display: none;
  }
}
@media (min-width: 768px) {
  .sponsors .sponsors-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .sponsors .sponsors-card {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1920px) {
  .sponsors .sponsors-card {
    padding: 0px 100px 60px;
    border-radius: 12px;
  }
  .card-1 {
    border-top-left-radius: 12px;
  }
  .card-4 {
    border-top-right-radius: 12px;
  }
  .card-9 {
    border-bottom-left-radius: 12px;
  }
  .card-12 {
    border-bottom-right-radius: 12px;
  }
}
.publications-footer-background {
  background-color: #F5F5FA;
}
.publications-footer-background .publications {
  padding-top: 30px;
  padding-bottom: 30px;
}
.publications-footer-background .publications .publications-title a {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
  margin-bottom: 5px;
}
.publications-footer-background .publications .publications-title a p {
  margin: 0;
}
.publications-footer-background .publications .publications-title h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  background: linear-gradient(-298deg, #f0145a 0%, #ef8080 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 30px;
}
.publications-footer-background .publications .publications-cards .publications-card {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  overflow: hidden;
}
.publications-footer-background .publications .publications-cards .publications-card .publications-card-info {
  padding: 30px;
}
.publications-footer-background .publications .publications-cards .publications-card a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #24A3FF;
  margin-top: 0;
  margin-bottom: 15px;
  text-decoration: none;
}
.publications-footer-background .publications .publications-cards .publications-card .publications-data {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #B3B3BA;
}
.publications-footer-background .publications .publications-cards .publications-card .publications-box-shadow {
  height: 4px;
  width: 100%;
  background-color: #E6E6F0;
}
.publications-footer-background .publications .publications-cards .publications-card .publications-info-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #000000;
  margin-bottom: 0;
}
.publications-footer-background .publications .publications-cards .publications-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.publications-footer-background .publications .publications-cards .publications-card:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 60px;
  }
  .publications {
    padding-top: 30px;
  }
  .publications .publications-title a {
    margin-bottom: 10px;
  }
  .publications .publications-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .publications .publications-cards .publications-card {
    margin-bottom: 0;
  }
  .publications .publications-cards .long-card {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .publications-footer-background .publications .publications-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .publications-footer-background .publications .publications-cards .long-card {
    grid-column: span 1;
  }
  .publications-footer-background .publications .publications-cards .publications-card:last-child {
    margin-bottom: 30px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    padding: 0 160px;
  }
}

/*# sourceMappingURL=style.css.map */
