.services {
    position: relative;
    border-radius: 0 0 12px 12px;
}

.service-boxes {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 60px;
}

.link-service {
    position: relative;

    a {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        text-decoration: none;
        color: #24A3FF;
        align-items: center;
        display: inline-flex;
    }

    img {
        margin-left: 2px;
    }

    .arrow-red {
        display: none;
    }
}

.title-service {
    h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 30px;
        background: linear-gradient(-298deg, #f0145a 0%, #ef8080 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
        margin-top: 10px;
    }
}


.service-box {
    margin-bottom: 30px;

    .image {
        border-radius: 24px;
        padding: 14px;
        width: 92px;
        height: 92px;
        background-color: #fff;
        margin-bottom: 30px;
    }

    h2 {
        color: #24A3FF;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    p {
        margin: 0;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
    }
}

.service-box:last-child {
    margin-bottom: 0;
}

.first-shadow {
    border-radius: 0 0 12px 12px;
    height: 10px;
    background-color: #CACADB;
    margin-left: 20px;
    margin-right: 20px;
}

.second-shadow {
    border-radius: 0 0 12px 12px;
    height: 10px;
    background-color: #E7E7F2;
    margin-left: 40px;
    margin-right: 40px;
}

@media (min-width: 768px) {
    .services {
        padding-top: 0;
    }

    .wrapper {
        padding: 0 60px;
    }

    .service-boxes {
        grid-template-columns: 1fr 1fr;
    }

    .service-boxes {
        gap: 60px;
    }

    .title-service {
        margin-bottom: 60px;

        h1 {
            margin-bottom: 60px;
            font-size: 38px;
        }
    }
}

@media (min-width: 1024px) {
    .service-boxes {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (min-width: 1440px) {

    .link-service a:hover {
        color: #F0145A;

        .arrow-blue {
            filter: hue-rotate(150deg);
        }
    }

}

@media (min-width: 1920px) {
    .wrapper {
        padding: 0 160px;
    }
}