.sponsors {
    .sponsors-title {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        p {
            margin: 0;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.07em;
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            color: #323264;
        }
    }

    .sponsors-card {
        display: grid;

        .card-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1C4280;
            height: 120px;
        }

        .card-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #143646;
            height: 120px;
        }

        .card-3 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F48B30;
            height: 120px;
        }

        .card-4 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #9E4DC3;
            height: 120px;
        }

        .card-5 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FD9339;
            height: 120px;
        }

        .card-6 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E2E2E4;
            height: 120px;
        }

        .card-7 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #C71C36;
            height: 120px;
        }

        .card-8 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #DCF3F9;
            height: 120px;
        }

        .card-9 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #EAEAEA;
            height: 120px;
        }

        .card-10 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #282240;
            height: 120px;
        }

        .card-11 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #1D4568;
            height: 120px;
        }

        .card-12 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000000;
            height: 120px;
        }
    }
}

@media (max-width: 767px) {
    //  .sponsors-card:nth-child(n + 7) {
    //      display: none;

    .sponsors {
        .sponsors-card {
            .card-7 {
                display: none;
            }

            .card-8 {
                display: none;
            }

            .card-9 {
                display: none;
            }

            .card-10 {
                display: none;
            }

            .card-11 {
                display: none;
            }

            .card-12 {
                display: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .sponsors .sponsors-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1024px) {
    .sponsors .sponsors-card {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1920px) {
    .sponsors .sponsors-card {
        padding: 0px 100px 60px;
        border-radius: 12px;
    }

    .card-1 {
        border-top-left-radius: 12px;
    }

    .card-4 {
        border-top-right-radius: 12px;
    }

    .card-9 {
        border-bottom-left-radius: 12px;
    }

    .card-12 {
        border-bottom-right-radius: 12px;
    }
}